.main {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #262626;
    background-attachment: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    animation: colors 15s ease infinite;
    
    @keyframes colors {

        8% {
          background-position: 0% 50%;
        }
      
        50% {
          background-position: 100% 50%;
        }
      
        100% {
          background-position: 0% 50%;
        }
      }
}

.info-coins-container {
  display: flex;
  width: 90%;
  height: 100vh;
  flex-direction: column-reverse;
  justify-content: space-around;
}


#graphic-container-cryptos {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.589);
  border-radius: 14px;
  background-color: #232323;
  animation: slide-down 300ms ease-out forwards;
  height: 300px;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
