<div
  [ngStyle]="{
    display: 'flex',
    justifyContent: 'space-evenly',
    width: '100%',
    alignItems: 'center'
  }"
>
  <div id="slide-wrapper">
    <div class="slide-track">
      <div class="slide" *ngFor="let crypto of cryptoInfos">
        <img class="crypto-icon" src="{{ crypto.symbol }}" />
        <p id="info">{{ crypto.name }}</p>
        <p id="info">{{ crypto.buyValue }}</p>
        <p id="info">{{ crypto.priceVariationPercentage }}</p>
      </div>
    </div>
  </div>
  <button *ngIf="!navigateToHome; else navigateToDashboardCoinsAction"
    class="entry-dashboard-cryptos-action"
    (click)="navigateToDashboardCryptos()"
  >
    <img
      id="img-crypto-dashboard-action"
      src="../../../assets/cryptoConvertActionIcon.png"
    />
  </button>
</div>

<ng-template #navigateToDashboardCoinsAction>
  <div
    [ngStyle]="{
      display: 'flex',
      justifyContent: 'space-evenly',
      width: '50%',
      alignItems: 'center'
    }"
  >
    <app-convert-action [navigateToCoinsDashboardAction]="true"></app-convert-action>
  </div>
</ng-template>
